<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <%- include('./partials/nav.ejs') %>
  <body>
    <div class="content">
      <!-- if userData is not undefined add userbox -->
      <% if (typeof userData !== 'undefined') { %>
        <%- include('./partials/userbox') %>
      <% } %>
      
      <% if (postData) { %>
        <% postData.forEach(post => { %>
          <div class="msg-box">
            <!-- if userData is not undefined show user info -->
            <% if (typeof userData !== 'undefined') { %>
              <div class="user-info">
                <b><%=  post.user[0].username %></b>
                <% if (post.user[0].status === 'Admin') { %>
                  <i class="admin-status">Admin</i>
                 <% } else if(post.user[0].status === 'Premium') { %>
                   <i class="premium-status">Premium</i>
                 <% } else { %>
                   <i>Basic</i>
                 <% } %>
              </div>
            <% } %>
            <div class="msg-info">
              <b><%= post.createdAt.toDateString() %></b>
              <p><%= post.message %></p>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <div class="msg-box">
          <h2>There are not post available, please add a post.</h2>
        </div>
      <% } %>

      <% if (nextPage !== null) { %>
        <div class="old-msg-box">
          <a href="/?page=<%= nextPage %>">View older messages</a>
        </div>
      <% } %>
    </div>
  </body>
</html>
